@use '_variables' as v;

/*=============================
  Global
  ============================ */

.lightBox {
    background-color: v.$black;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
        color: v.$white;
        margin-bottom: 50px;
        opacity: 0;
        position: relative;
        bottom: -20px;
        animation: textUp 1s 0.75s ease-in-out forwards;
        em {
            animation: textYellow .75s 2s linear forwards;
        }
    }
    @keyframes textUp {
        50% {
            opacity: 40%;
        }
        100% {
            opacity: 100%;
            bottom: 0;
        }
    }
    @keyframes textYellow {
        90% {
            font-size: 1em;
            color: v.$white;
            font-style: oblique;
            text-transform: unset;
        }
        95% {
            font-size: 4em;
            color: v.$yellow;
            text-transform: uppercase;
        }
        100% {
            font-size: 1.5em;
            color: v.$yellow;
            text-transform: uppercase;
        }
    }
    .switch {
        width: 175px;
        .switchBg {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
        }
        input[type=range] {
            background-color: transparent;
            -webkit-appearance: none;
            width: 50%;

            
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
            width: 50%;
            height: 3rem;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            background: v.$white;
            border-radius: 25px;
            border: none;
        }
        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            border-radius: 100%;
            height: 2.75rem;
            width: 2.75rem;
            margin-top: 2px;
            background: v.$green;
            cursor: pointer;
            -webkit-appearance: none;
        
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: v.$white;
        }
        input[type=range]::-moz-range-track {
            width: 50%;
            height: 3rem;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            background: v.$white;
            border-radius: 25px;
            border: 0px solid #000101;
        }
        input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            height: 2.75rem;
            width: 2.75rem;
            margin-top: 2px;
            background: v.$green;
            border-radius: 100%;
            cursor: pointer;
        }
        input[type=range]::-ms-track {
            width: 50%;
            height: 3rem;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            background: v.$white;
            border-radius: 25px;
            border: 0px solid #000101;
        }
        input[type=range]::-ms-fill-lower {
            background: v.$white;
            border: 0px solid #000101;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }
        input[type=range]::-ms-fill-upper {
            background: v.$white;
            border: 0px solid #000101;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }
        input[type=range]::-ms-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            height: 2.75rem;
            width: 2.75rem;
            margin-top: 2px;
            background: v.$green;
            border-radius: 100%;
            cursor: pointer;
        }
        input[type=range]:focus::-ms-fill-lower {
            background: v.$white;
        }
        input[type=range]:focus::-ms-fill-upper {
            background: v.$white;
        }
        img{
            position: absolute;
            height: 40px;
            width: auto;
            left: 50%;
            top:5px;
    
        }
    }
}
