/*=============================
Variables
============================ */

/*- View Width -*/
$min-vw: 280px;
$max-vw: 1600px;

/*- Colors -*/
$green: #494c3b;
$yellow: #fdc720;
$white: #f3f3f3;
$black: #090909;
$black-t: rgba(9, 9, 9, 0.50);
$white-t:rgba(243, 243, 243, 0.50);
$yellow-h: #d8a91d;



/*- Font-Size -*/
$min-font-size: 1rem;
$max-font-size: 1.15rem;
